<?xml version='1.0' encoding='utf-8'?>
<widget id="com.nospam.japan" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>SOS Japan Pro</name>
    <description>نظام حماية اليابان التلقائي</description>
    <author email="dev@zakaria.com">Zakaria</author>
    
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="tel:*" />
    <allow-navigation href="*" />

    <platform name="android">
        <preference name="AndroidXEnabled" value="true" />
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
            <uses-permission android:name="android.permission.READ_CALL_LOG" />
            <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
            <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
        </config-file>
    </platform>
</widget>
